.search-box,
.styled-stack,
.route-start-button {
    position: absolute;
    left: 50%;
    z-index: 100;
    transform: translateX(-50%);
}

.search-box,
.styled-stack {
    top: 100px;
}

.route-start-button {
    bottom: 100px;
}

.styled-text-field {
    background-color: #ffffff;
    width: 300px;
    border-radius: 5px;
    position: relative;
}

.route-finish-alert {
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 100;
    width: 100vw;
    height:20vh;
    transform: translateX(-50%);
}

.route-finish-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-dropdown {
    z-index: 3000; // set a high z-index
    position: relative; // ensure the element is positioned
    width: 300px;
}

.loading-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
}

